{% extends '/backend/layout.twig' %}

{% block title %}{% endblock %}

{% block article %}
	<div id="primary-content" class="clearfix">
    <h2>Crear nuevo articulo</h2>
    <form action="{{ path('editar-articulo', {'id': article.id}) }}" method="post">
    	{{ form_widget(form) }}
    	<input type="submit" name="submit" value="Guardar">
    </form>
    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
	<!--<script>
    CKEDITOR.replace( 'form[content]' );
</script> -->
{% endblock %}
