{% extends 'frontend/layout.twig' %}

{% block title %}
{% endblock %}

{% block id  'portada'%}

{% block article %}
	<h1>Está es la portada, bienvenido a mi blog sobre Silex</h1></br>
   
   {% for articulo in articulos %}
       <div class="post">
       		<h1>{{ articulo.Title }}</h1>
       		<span class="fecha">{{ articulo.CreateDate | date }}</span>
          <span class="fecha">{{ articulo.Author }}</span>
       		<p>{{ articulo.Content | raw }}</p>
       		<hr>
       </div>
    {% else %}
        <h1>Aún no hay artículos creados</h1>
    {% endfor %}
{% endblock %}

