{% extends 'frontend/layout.twig' %}

{% block title %}
{% endblock %}

{% block article %}
	<h1>Está viendo la vista de post sencilla</h1></br>
       <div class="post">
          <h1>{{ currentPost.Title }}</h1>
       		<span class="fecha">{{ currentPost.CreateDate | date }}</span>
       		<p>{{ currentPost.Content | raw }}</p>
       		<hr>
       </div>
{% endblock %}
