{% extends 'frontend/layout.twig' %}
{% block title %}
{% endblock %}

{% block id  'ultimas'%}

{% block aside %}
	
	{{ parent() }}
   
   {% for article in articles %}
       <div class="post">
       		<p>{{ article.Title | raw }}</p>
       </div>
    {% else %}
        <h1>Aún no hay artículos creados</h1>
    {% endfor %}
{% endblock %}
